doctype html
html
    head
        title= title
    body(style='background-color: #f9f9f9; font-family: Arial, sans-serif; color: #333;')
        .container(style='max-width: 600px; margin: auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);')
            h1(style='background-color: #cce5ff; color: #5d5d5d; border-bottom: 1px solid #ddd; padding-bottom: 10px; padding-top: 10px; text-align: center;')
                | #{user_name}, Ми підібрали водія для твого замовлення!
            p(style='color: #555;')
                | Водій #{driver_name} вже поспішає забрати твоє замовлення!
            p(style='color: #555;')
                | Очікується завантаження вашого перевезення #{order_date}.
            .contact-info(style='margin-top: 20px;')
                p(style='margin-bottom: 5px; font-weight: bold;')
                    | Контакти для зв’язку з водієм:
                ul(style='list-style-type: none; padding: 0;')
                    li(style='margin-bottom: 5px;')
                        | Номер телефону: #{driver_phone}
                    li(style='margin-bottom: 5px;')
                        | Автомобіль: #{truck_brand} #{truck_model} (#{truck_color})
                    li(style='margin-bottom: 5px;')
                        | Номери авто: #{truck_plate}
            p(style='margin-top: 20px; font-size: 14px; text-align: center; background-color: #ffffff; padding: 10px; border-radius: 4px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);')
                | Дуже вдячні за замовлення :) Гарного дня!
